body{
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
}

.name {
    text-align: center;
    top: 50px ;
}
caption {
    text-align: center !important;
    font-size: 35px;
    font-family: cursive, monospace, sans-serif;
    color: blue !important;
}
table {
    margin: 0 auto;
    margin-top: 100px;
    border-collapse: collapse;
    border-spacing: 0;
}
table tr td {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
}
table tr td:hover {
    background-color: burlywood;
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
    border: 1px solid saddlebrown;
}
.row {
    text-align: center;
}
#game {
    display: none;
}
#over-lay {
    padding-top: 11vh;
}
.overlay {
    margin: 0 auto;
    margin-top: 100px;
    width: 50vh;
    height: 50vh;
    border: 1px solid blue;
    font-size: 20px;
    font-family: cursive, monospace, sans-serif;
    color: blue;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: 30px;
}
.axe, .zero{
    color: orange !important;
    background: green !important;
}
.axe:hover, .zero:hover {
    background: orange !important;
    color: green !important;
}
